body {
    background-color: #fff;
    position: relative;
    margin: 0;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: sticky;
    z-index: 2;
    background-color: #fff;

    
}
.navLinks-icon {
    display: flex;
    align-items: center;
}

.desktopLinks {
   padding-right: 30px;
   display: none;
}

.openDrawer {
    transform: translateX(-600px);
}

.mobileLinks  {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color:  hsl(270, 9%, 17%);
    margin: 0;
    right: -600px;
    transition: transform 0.5s;

}

.pattern {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
   

}

.links a{
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 70px;
}

.close {
    display: none;
}

.mobile-border {
    border: 1px solid white;
}



