body {
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display", serif;
    
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    /* position: sticky;
    z-index: 2; */
    background-color: #fff;

    
}
.navLinks-icon {
    display: flex;
    align-items: center;
}

.desktopLinks {
   padding-right: 30px;
   display: none;
}

.openDrawer {
    transform: translateX(-600px);
}

.mobileLinks  {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color:  hsl(270, 9%, 17%);
    margin: 0;
    right: -600px;
    transition: transform 0.5s;

}

.pattern {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
   

}

.links a{
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 70px;
}

.close {
    display: none;
}



.mobile-border {
    border: 1px solid white;
}


.responsive-img {
    width: 100%;
    
}
.cta{
    margin-top: -5px;
}

.cta-card {
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    height: 83vh;
    position: relative;
    z-index: 0;
}

.pattern-right{
    position: absolute;
    right: 2px;
    top: 414px;
    width: 37%;

}
.pattern-left{
    position: absolute;
    left: 2px;
    width: 50%;
    
}

.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    
    z-index: 1;
}

.cta-text h1 {
    font-size: 3rem;
    color: white;
    width: 65%;
    text-align: center;
    margin-top: 120px;

}

.cta-text p{
    color: hsl(274, 6%, 77%);
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0;

}

.cta a{
    text-decoration: none;
    color: hsl(274, 6%, 77%);
    text-transform: uppercase;
    border: 2px solid hsl(274, 6%, 77%);
    letter-spacing: 4px;
    padding: 10px 20px;
    margin-top: 35px;
}

.line{
    width: 200px;
    height: 2px;
    background-color: hsl(274, 6%, 77%);
    margin: 0 auto;
    margin-top: 240px;
}